params.help                          = false
params.event                         = "ismb_2025"
params.email                         = ""
params.outdir                        = "results"
params.ticket_number_emit_session_id = false

tower {
    enabled = true
    endpoint = "https://api.cloud.seqera.io"
}
