params.help           = false
params.ismb_bosc2024  = false
params.name           = ""
params.email          = ""
params.institute      = ""
params.help           = false
params.map            = "aHR0cHM6Ly9kb2NzLmdvb2dsZS5jb20vZm9ybXMvZC9lLzFGQUlwUUxTZE1xNy1HR0V1ckhXY2gwNDEwNjBpUXlQUUtsVnhQU21xM0NxZzJVRHAyUmRqNTRBL2Zvcm1SZXNwb25zZQo"
